<section class="services-area section-gap">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="menu-content  col-lg-7">
        <div class="title text-center">
          <h1 class="mb-10">Services</h1>
          <p>I love coming up with durable, well-architected solutions.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="single-services">
          <span class="lnr lnr-laptop-phone"></span>
          <a href="#"><h4>Planning & Development</h4></a>
          <p>
            Deliver modern web services using Ruby on Rails for shorter release
            cycles and more efficiency.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-services">
          <span class="lnr lnr-database"></span>
          <a href="#"><h4>Analytics</h4></a>
          <p>
            Build pipelines to collect and analyse your data and extract
            relevant business insights.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
